@CHARSET "UTF-8";

.centering {
    margin: 0 auto;
}

.error_message {
	color: #FF5555;
}

body {
	background-color: #FFFFFF;
	line-height: 1.5;
}

div.centering {
	margin: 50px;
}

.textboxAlert {
	background: #FFBBBB;
}