@CHARSET "UTF-8";

/*
:valid {
    color: green;
}
:invalid {
    color: red;
}
*/

.error_message {
	color: #FF5555;
}

body {
	background-color: #FFFFFF;
	line-height: 1.5;
    margin: 50px;
}

.textboxAlert {
	background: #FFBBBB;
}